/* ---------------------------------- LOGO ----------------------------------- */
/* "web" and "studio" style logo (in header and footer) */
.logo {
  font-family: "Raleway", sans-serif;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* options font LOGO (located in header and footer) */
.word-web,
.studio-header,
.studio-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* options for tex "web" in logo */
.word-web {
  color: var(--text-hover-color);
}
/* options for tex "studio" in header logo */
.studio-header {
  color: var(--primery-text-color);
}
/* options for tex "studio" in footer logo */
.studio-footer {
  color: var(--additional-text-color);
}

/* ---------------------------- footer logo option --------------------------- */
.logo-basement {
  padding: 0;
}
