/* -====================== FOOTER section (підвал сайту) ======================*/
/* footer section options (налаштування підвалу) */
.basement {
  background-color: var(--background-color-additional);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* footer list options (налаштування списку в підвалі) */
.basement-contacts__list {
  display: inline;
  list-style: none;
}

.basement-logo {
  margin-bottom: 30px;
}

.basement-contacts__group {
  display: block;
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

/* footer address options (налаштування адреси в підвалі) */
.basement-contacts__address,
.basement-contacts__mail,
.basement-contacts__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.basement-contacts__address {
  color: var(--additional-text-color);
}
/* .basement-contacts__address:hover,
.basement-contacts__address:focus {
    color: var(--text-hover-color);
} */

.basement-contacts__hover:hover {
  color: var(--text-hover-color);
}

/* footer contacts options (налаштування контактів в підвалі) */
.basement-contacts__mail,
.basement-contacts__tel {
  color: var(--footer-contact-color);
}
/* .basement-contacts:hover,
.basement-contacts:focus,
 */

.basement-container {
  display: flex;
  align-items: baseline;
}

.basement-adress-section {
  margin-top: 20px;
}

.basement__subtitle {
  color: var(--additional-text-color);
  margin-bottom: 20px;
}

.basement-icon-group {
  display: block;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.basement-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--additional-text-color);

  &:hover,
  &:focus {
    background-color: var(--text-hover-color);
  }
}

/* .basement-social__icon{} */

/* !----------------------------- footer form ----------------------------- */

.basement-email-group {
  display: block;
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.basement-label-container {
  display: flex;
}

/* .basement-label{} */

.basement-label__input {
  background-color: transparent;
  font-style: sans-serif;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.003em;

  align-content: center;
  height: 50px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;

  padding-left: 16px;
}

// footer button options

.basement-button__submit {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 0 24px;
  gap: 10px;
}

.basement-button__icon {
  fill: var(--background-color-special);
}
