/* footer section options (налаштування підвалу) */
.basement {
  background-color: var(--background-color-additional);
  padding-top: 60px;
  padding-bottom: 60px;
}

.basement__subtitle {
  color: var(--additional-text-color);
  margin-bottom: 20px;
}

.basement-container {
  display: flex;
  align-items: baseline;
}

/* footer list options (налаштування списку в підвалі) */
.basement-contacts {
  margin-top: 20px;
}

.basement-contacts__list {
  display: inline;
  list-style: none;
}

.basement-contacts__item {
  display: block;
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.basement-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }
}

.basement-contacts-address {
  color: var(--additional-text-color);
}
.basement-contacts-mail,
.basement-contacts-tel {
  color: var(--footer-contact-color);
}

/* footer social options (налаштування соц-мереж в підвалі) */
.basement-social {
  display: block;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

// *- налаштування соц мереж в social.scss //

// !- footer form - /

.basement-submit {
  display: block;
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.basement-submit-container {
  display: flex;
}

/* .basement-submit__label{} */

.basement-submit__input {
  background-color: transparent;
  font-style: sans-serif;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.003em;

  align-content: center;
  height: 50px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;

  padding-left: 16px;
}

// footer button options

.basement-submit__button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 0 24px;
  gap: 10px;
}

.basement-submit__icon {
  fill: var(--background-color-special);
}
