/* -==================== our-features (текст під банером) ==================== */
.our-features {
  padding-top: 94px;
}

.our-features-list {
  color: var(--primery-text-color);
  list-style: none;
  display: flex;
  gap: 30px;
}

.our-features-group {
  flex-basis: calc((100% - 90px) / 4);
}

.our-icons-group {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-color-special);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.our-features-icon {
  fill: var(--primery-text-color);
}

/* title options (налаштування назви) */
.our-features-title,
.img-label,
.basement__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-features-title,
.img-label {
  margin-bottom: 10px;
}

/* paragraph options (налаштування параграфу) */
.our-features-text {
  color: var(--paragraph-tex-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
